<div class="container" id="app">
  <div class="row">
    <div class="col-sm-12">
      <div>
        <form id="search-form">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input class="form-control input-lg"  id="search-input" class="typeahead" type="text" placeholder="search for npm package...">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div id="package-list" class="list-group">
      </div>
    </div>
  </div>
</div>
