<div class="container" id="app">
  <div class="row">
    <div class="col-sm-12">
      <div>
        <input id="search-input" class="typeahead" type="text" placeholder="search for npm package...">
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul id="package-list">
      </ul>
    </div>

  </div>
</div>
