
// bower:less
@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/components-font-awesome/less/font-awesome.less";
// endbower

@fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts"; // for referencing Bootstrap CDN font files directly
@import "./variables.less";
@import "./typeahead.less";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

// package info
.package-fact {
  background-color: transparent;
  min-height: 85px;

  .fact-label {
    z-index: 2;
  }
  .fact-text {
    z-index: 2;
    .h4;
  }
  i.fa {
    position: absolute;
    top: 7px;
    right: 25px;
    color: #eee;
  }
}

