
// bower:less
@import "./custom-bootstrap.less";
@import "../bower_components/components-font-awesome/less/font-awesome.less";
// endbower

@fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts"; // for referencing Bootstrap CDN font files directly
@import "./variables.less";
@import "./typeahead.less";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Custom page sticky footer */
@import './footer.less';

.footer {
  padding-top: 20px;

  .github-link {
    color: #777;
    &:hover, &:focus {
      color: #333;
    }
  }
}

// spinner hidden by default
.spinner {
  // display: none;
  color: #fff;

}

// package info
.panel.package-fact {
  background-color: transparent;
  min-height: 85px;


  .fact-label {
    z-index: 2;
  }
  .fact-text {
    z-index: 2;
    .h4;
  }
  i.fa {
    z-index: -1;
    position: absolute;
    top: 7px;
    right: 25px;
    color: #eee;
  }
}

