
// bower:less
@import "../bower_components/bootstrap/less/bootstrap.less";
// endbower

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);

@font-family-sans-serif:  'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;

@fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts"; // for referencing Bootstrap CDN font files directly
@import "./variables.less";
@import "./typeahead.less";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Custom page sticky footer */
@import './footer.less';

.footer {
  padding-top: 20px;

  .github-link {
    color: #777;
    &:hover, &:focus {
      color: #333;
    }
  }
}

// spinner hidden by default
.spinner {
  // display: none;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;

}

// package info

.panel.package-info {
  background-color: transparent;
  .likedBtn {
    display: inline-block;
    cursor: pointer;
    padding: 0 6px;
    color: #000;
    opacity: 0.1;

    &:hover {
      opacity: 0.5;
    }
     &.liked:hover {
      opacity: 0.7;
    }
    &.liked {
      opacity: 0.5;
      color: red;
    }
  }
  min-height: 85px;

  .package-fact {
    background-color: transparent;

    .fact-label {
      z-index: 2;
    }
    .fact-text {
      z-index: 2;
      .h4;
    }
    i.fa {
      z-index: -1;
      position: absolute;
      top: 7px;
      right: 25px;
      color: #eee;
    }
  }
}

